@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #video-container {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    max-width: 700px;
    width: 100%;
  }

  video {
    display: block;
    width: 100%;
  }

  h1 {
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
  }

  input {
    outline: none;
    border: none;
  }
}

@layer components {
  .title {
    @apply top-3 left-3 text-white text-base z-10 opacity-0 transition-opacity duration-300 group-hover:opacity-100;
  }

  .video-controls {
    @apply bottom-0 w-full bg-slate-900 text-white flex flex-col gap-3 p-3 opacity-0 group-hover:opacity-100 transition-opacity duration-300;
  }

  .wide-screen-mode {
    max-width: 1100px !important;
    height: auto;
  }

  .timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100% - var(--progress) * 100%);
    background-color: orange;
  }
}
